
.right-events {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    margin: 0px;
    padding: 0px;
}

/* Верхняя панель с заголовком и поиском */
.up-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.up-menu-fix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 55px;
}

/* Заголовок */
.up-menu-name {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin: 0;
    margin-bottom: 100px;
    margin-top: 37px;
}

/* Поисковая строка */
.fix-div {
    position: relative;
    display: flex;
    align-items: center;
    max-height: 56px;
    margin-top: 31px;
    margin-bottom: 100px;
}

.up-menu-search {
    width: 450px;
    height: 56px;
    padding: 0 0 0 40px;
    font-size: 16px;
    border: 2px solid #ccc;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: #8E8E8E;
    background-color: #F2F2F2;
}

.search-icon {
    position: absolute;
    left: 19px;
    align-items: center;
    width: 15px;
    height: 15px;
    pointer-events: none;
}

.add-menu {
  display: flex;
  justify-content: flex-start;
}

.add-menu-bnt {
  margin-left: 55px;
  width: 195px;
  height: 47px;
  border: 2px solid var(--grey-stroke, #C7C7C7);
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-menu-btn {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #000;
  text-decoration: none; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


a{
    text-decoration: none;
}

add-event-name {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 36px;
}

.input--block {
    width: 331px;
    height: 44px;
    border-width: 3px;
    border: 3px solid var(--grey-stroke, #00000036)
}

#organizers_event{
    width: 700px;
    height: 150px;
}

#program_event, #fullDescription_event{
    width: 700px;
    height: 350px;
}

.input--block-low{
    width: 201px;
    height: 44px;
    border-width: 3px;
    border: 3px solid var(--grey-stroke, #00000036)
}

.input--block-btn::file-selector-button{
    border-width: 2px;
    width: 153px;
    height: 39px;
    border: 2px solid var(--grey-stroke, #00000036);
    background-color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
}

.input--block-select{
    width: 185px;
    height: 44px;
    border-width: 3px;
    border: 3px solid var(--grey-stroke, #00000036)
}



#organizers-event {
    width: 700px;
    height: 150px;
}

#program-event,
#fullDescription-event {
    width: 700px;
    height: 377px;
}

;

#images-events {
    width: 153px;
    height: 39px;
    border-width: 3px;
}

button {
    border-width: 2px;
    padding-top: 9px;
    padding-right: 39px;
    padding-bottom: 9px;
    padding-left: 39px;
    border: 2px solid var(--grey-stroke, #00000036);
    background-color: white;
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 37px; /* ПОБОЧКА */
}

#addBtn-event{
    margin-right: 8px;
}

label {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 22px;
    margin-bottom: 3px;
}
.error-event{
    color: red;
    display: none;
    max-width: 331px;
}


.add-event {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    margin-left: 55px;
    background-color: #F6F6F6;
}

form {
    width: 100%;
}

.add-upMenu {
    flex-basis: 100%;
}

.add-event-nameDiv {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.add-event-blocks {
    display: flex;
    flex-wrap: wrap;
}

.add-event-firstSecondBlock {
    display: flex;
    flex-wrap: wrap;

}