/* Найстройка отступов и структуры */
/* шрифт */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #F6F6F6;
}

a {
    text-decoration: none;
}

.add-event {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    
    background-color: #F6F6F6;

}

form {
    width: 100%;
}

.add-upMenu {
    flex-basis: 100%;
}

.add-event-nameDiv {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.add-event-blocks {
    display: flex;
    flex-wrap: wrap;
}

.add-event-firstSecondBlock {
    display: flex;
    flex-wrap: wrap;

}

.add-event-firstBlock {
    width: 25%;
}

.add-event-secondBlock {
    width: 71.6%;
}

.add-event-blocks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#special{
  display: flex;            /* Включает гибкую верстку */
  align-items: flex-start;  /* Выравнивает элементы по верхнему краю */
  gap: 100px;
}

.add-event-buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-basis: 100%;
}

/* Стили для объектов */

.add-event-name {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 36px;
}

.input--block {
    width: 385px;
    min-height: 47px;
    background-color: #F2F2F2;
    border: 0px solid;
}

#organizers_event{
    width: 1035px;
    min-height: 64px;
}

#program_event{
    width: 1035px;
    height: 404px;
}

#fullDescription_event{
    width: 1035px;
    height: 172px;
}

#Description_event{
    width: 1035px;
    height: 98px;
}

.input--block-low{
    width: 190px;
    height: 47px;
    background-color: #F2F2F2;
    border: 0px solid;
}

.input--block-btn::file-selector-button{
    border-width: 2px;
    width: 153px;
    height: 39px;
    border: 2px solid var(--grey-stroke, #00000036);
    background-color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
}

.input--block-select{
    width: 185px;
    height: 44px;
    border-width: 3px;
    border: 3px solid var(--grey-stroke, #00000036)
}

#fullDescription-event{
    width: 936px;
    height: 280px;
}

#description_event{
    width: 936px;
    height: 203px;
}

#program-event{
    width: 936px;
    height: 319px;
}

#organizers-event {
    width: 936px;
    height: 121px;
}

#images-events {
    width: 153px;
    height: 39px;
    border-width: 3px;
}

#edit-event-button {
    width: 163px;
    height: 39px;
    border: 0px solid ;
    background-color: #982520;
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    gap: 10px;
    color: #FFFFFF;
}

#delete-event-button {
    width: 107px;
    height: 39px;
    border: 2px solid grey;
    background-color: #FFFFFF;
    font-family: Inter;
    line-height: 1.2;
    font-weight: 600;
    font-size: 16px;
    gap: 10px;
    color: #000000;
    margin-right:25px;
}

#addBtn-event{
    margin-right: 8px;
}

label {
    font-family: Inter;
    font-weight: 300;
    font-style: light;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.input--block, textarea{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    padding-left: 15px
}
.error-event{
    color: red;
    display: none;
    max-width: 331px;
}

.picture-event{
    background-color: antiquewhite;
    width: auto;
    max-width: none;
    object-fit: contain;
}

.event-invisible-information{
    margin-left: 55px;
}

.picture-event {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.date-time{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
     justify-content: space-between;
}