.main-content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
    background-color: #fff;
}

main{
    background-color: #F2F2F2;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.content-header h1 {
    font-size: 24px;
}

.search-container input {
    padding: 10px 15px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* Список мероприятий (Аккордеон) */
.event-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.event-header {
    display: flex;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
}

.arrow {
    margin-right: 15px;
    font-size: 12px;
    color: #666;
}

.event-title {
    font-size: 18px;
    flex-grow: 1;
}

.event-actions {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid #333;
    background: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.btn:hover {
    background-color: #eee;
}

/* Таблица внутри */
.event-body {
    display: none;
    padding: 10px 0 30px 30px;
}

.event-item.open .event-body {
    display: block;
}

.participants-table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.participants-table th {
    background-color: #d9d9d9;
    border: 1px solid #999;
    padding: 10px;
    font-size: 13px;
}

.participants-table td {
    border: 1px solid #999;
    padding: 10px;
    height: 40px;
}

.participants-table tr:nth-child(even) {
    background-color: #efefef;
}
.event-title{
    font-size: 36px;
    font-weight: 400;
    margin-top: 100px;
}

.container--h2{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 50px;
    color: #666;
}

.right-eventss{
    margin-left: 300px;
    margin-top: 65px;
}
.events-list{
    margin-top: 65px;
}