@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

.container {
  width: 522px;
  background: #fff;
  padding: 30px;
  margin-left: 55px;
}

h1 {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 15px;
  font-family: Inter;
  font-weight: 300;
  font-style: Light;
  font-size: 15px;
  width: fit-content;

}

input, textarea, select {
  display: block;
  width: 100%;
  /* padding: 8px; */
  margin-top: 5px;
  border: 1px solid var(--grey-transparent, rgba(0, 0, 0, 0.4));
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  background-color: rgba(242, 242, 242, 1);
}

.fullname{
  width: 400px;
  height: 47px;
}

.date{
  width: 190px;
  height: 47px;
}

textarea {
  width: 400px;
  height: 217px;
  resize: none;
}

select{
  width: 400px;
  height: 47px;
}

.error {
  color: #b22222;
  font-size: 12px;
  margin-top: 4px;
}

.illustration-block {
  margin-top: 20px;
}

.icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.icons img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;
}

.icons img.active {
  border-color: #a52a2a;
}

.buttons {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  margin-left: 55px;
}

button {
  border: none;
  cursor: pointer;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
}

.save {
  background: #a52a2a;
  color: #fff;
  width: 127px;
  height: 39px;
}

.delete {
  background-color: rgba(255, 255, 255, 1);
  width: 107px;
  height: 39px;
  border: 2px solid var(--grey-stroke, rgba(0, 0, 0, 0.21))
}
