@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
  margin: 0px;
  padding: 0px;
  background-image: url(/src/img/306cd8091e6ccd8c82d59e4ca676cba2c7a735ea.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 580px;
  height: 528px;
  margin: 13% auto;
  padding: 20px;
  border: 0px solid;
  background-color: #FFFFFF;
  align-items: center;
}

h1{
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  
}

label{
  width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
label span{
  width: 50%;
}

input {
  border: 0px solid;
  width: 460px;
  height: 65px;
  /* padding: 15px 20px; */
  display: block;
  /* box-sizing: border-box; */
  margin-bottom: 10px;
  background-color:#F2F2F2;
}

#check_password, #check_login{
  color: #FFFFFF;
  text-align: right;
  font-family: Inter;
  font-weight: 200;
  font-style: Extra Light;
  font-size: 15px;
}
/* Белый цвет тега p делает текст невидимым */

p {
  font-family: Inter;
  font-weight: 300;
  font-style: Light;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
}

.divade-block{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.divade-block input{
  width: 5%;
  margin-bottom: 0;
}


button {
  width: 460px;
  height: 76px;
  border: none;
  /* padding: 10px 20px; */
  margin: 10px 0;
  cursor: pointer;
  background-color:#982520 ;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  color: #FFFFFF;
}
