form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 4px solid MediumBlue;
}

input {
  border: 2px solid RoyalBlue;
  padding: 15px 20px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  font-size: 14px;
  color: white
}

/* Белый цвет тега p делает текст невидимым */

button {
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}
